SECRET_KEY=""
FRONTEND_URL="http://localhost:3000"
# --- Postgres ---
POSTGRES_HOST=""
POSTGRES_PORT=
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_BACKUP_SCHEDULE="@weekly"
POSTGRES_BACKUP_KEEP_DAYS=7
POSTGRES_BACKUP_KEEP_WEEKS=4
POSTGRES_BACKUP_KEEP_MONTHS=6
POSTGRES_BACKUP_MAX_AGE_SECONDS=691200
# --- Redis ---
REDIS_HOST=""
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0
# --- MinIO ---
MINIO_ACCESS_KEY_ID=""
MINIO_SECRET_ACCESS_KEY=""
# --- Monitoring ---
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
# --- Admin ---
ADMIN_EMAIL="admin@admin.com"  # Почту можно любую, даже вымышленную
ADMIN_PASSWORD="admin"
